.test {
    font-size: 30px;
}
.header {
    background-color: #fff;
    border-bottom: 1px solid #dfeaee;
}
.header .bg-light {
    background-color: transparent!important;
    padding-bottom: 0px; 
}
.header .navbar-light .navbar-nav .nav-link {
    color:#202020 !important;
}
.header .navbar-light .navbar-nav.menu-list .nav-link:nth-child(1) {
    border-bottom: 3px solid #f44436;
}
.header .navbar-collapse {
    margin-left: 20px;
}
.header .nav-link {
    padding: 12px 15px 17px 20px;
}
.logo {
    margin-top: -9px;
}
.header .badge-secondary {
    color: #fff;
    background-color: #f44436;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    position: relative;
    top: -10px;
    left: -14px;
}
.pro-pic {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.right-menus .nav-link{
    padding-right: 0px !important;
    padding-left : 0px !important;
}
